[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
stopit = "*"
docker-py = "*"
upnpy = "*"
flask-sqlalchemy = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3"
