[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-caching = "*"
flask-peewee = "*"
flask-session = "*"
stopit = "*"
peewee = "*"
pycron = "*"
restless = "*"
docker = "*"
uwsgi = "*"
authlib = {git = "https://github.com/btimby/authlib.git", ref = "a4e27da295729c0dd74599191a7726600bfbdda2"}
wtf-peewee = "*"
uwsgi-chunked = "==0.1.8"
gevent = "*"
conduit-client = {subdirectory = "client", ref = "357c01c009868f0e755196a0cf02d089acd4ce1b", git = "https://github.com/shanty-social/conduit.git"}

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
