[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
stopit = "*"
upnpy = {git = "https://github.com/btimby/upnpy.git", ref = "exceptions"}
peewee = "*"
flask-peewee = "*"
pycron = "*"
restless = "*"
docker = "*"
simple-websocket = "*"
flask-caching = "*"
uwsgi = "*"
flask-oauthlib = "*"
authlib = {git = "https://github.com/btimby/authlib.git", ref = "a4e27da295729c0dd74599191a7726600bfbdda2"}
flask-session = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
